@CHARSET "ISO-8859-1";

@CHARSET "ISO-8859-1";

body {
	overflow: hidden;
	margin: 0;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica;
}

h1{
	font-family: sans-serif;
}

#header {
	position: absolute;
	top: 0;
}

#header {
	z-index: 1;
	display: block;
	font-size: 36px;
	font-weight: 300;
	text-shadow: 0 1px 0 #fff;
}

#header.inverted,#footer.inverted {
	color: #fff;
	text-shadow: 0 1px 4px #000;
}

#header {
	top: 80px;
	left: 140px;
	width: 1200px;
}

rect {
	pointer-events: all;
	cursor: pointer;
}

.chart {
	display: block;
	margin: auto;
	margin-top: 40px;
}

.parent .label {
	color: #FFFFFF;
	padding-left: 2px;
	padding-top: 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.labelbody {
	background: transparent;
}

.label {
	padding: 2px;
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.child .label {
	white-space: pre-wrap;
	text-align: center;
	text-overflow: ellipsis;
}

.cell {
	font-size: 11px;
	cursor: pointer
}